.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.highcharts-boxplot-box {
  opacity: 0.5;
}
.top-predicted .highcharts-xaxis-labels,
.top-predicted .highcharts-tick {
  display: none;
}
.footer {
  background-color: #3F51B5;
  margin-top:calc(5% + 60px);
  bottom: 0;
  position: fixed;
  /* bottom: 0; */
  width: 100%;
  bottom: 0;
  z-index: 1300;
}
.file-action-icon{
  float: right !important;
  margin-Top: 55px !important;
  padding: 0 !important;
  color: rgba(0, 0, 0, 0.87) !important;
  width: 20px !important;
  height: 20px !important;
  margin-right: 4px;
  cursor: pointer;
}
input[type="file"]{
  font-size: 12px;
    padding-top: 4px;
    padding-bottom: 7px;
}

