body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #282c34; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
input[type='file'] {
  color: rgba(0, 0, 0, 0);
}
.filepond--hopper{
  margin-bottom: 0px;
  height: 60px;
}
.filepond--credits{
  display: none;
}
.filepond--file-info-sub{
  display: none ;
}
.MuiMenu-list{
  max-height: 30vh;
}

.filepond--drop-label{
  padding: 0;
}
.filepond--panel-top{
  background-color: white;
  color: black;
}
.filepond--panel-center{
  background-color: white;
}
.filepond--panel-bottom{
  background-color: white;
}
.filepond--file-info-main{
  color: black;
}
.filepond--file,.filepond--drop-label{
  border: 1px solid #f0f0f0;

}

.filepond--root .filepond--drop-label{
  min-height: 3em;
}